body {
  font-family: Verdana, sans-serif;
  background-color: black;
}

h1,
h2,
a,
p {
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

a {
  text-decoration-line: underline;
  color: Aquamarine;
  font-size: 16px;
}

p {
  color: gray;
  font-size: 21px;
}

footer {
  text-align: right;
  color: gray;
}
